<%= wicked_pdf_stylesheet_link_tag "bootstrap.css" %>
<% @meters.each do |meter| %>
  <div class="column">
    <table class="table table-striped" border="2">
      <tr class="table-header">
        <th colspan="2">The Suramya  Residency <br> co.op.ho.service society limited</th>
      </tr>
      <tr class="table-date">
        <th colspan="2">Nathan/A.H.M/Sa.(Ho)10067, Date: 20-6-2017</th>
      </tr>
      <tr class="table-address">
        <th colspan="2">'Suramya Residency',Behind Suvas Residency, Nikol Gam Road,Nikol,Ahmedabad-382350</th>
      </tr>
      <tr class="table-data table-backcolor-darkred">
        <th>Detail</th>
        <th>Rs.</th>
      </tr>
      <tr class="table-data text-align-center">
        <td>Flat Number</td>
        <td><%= meter.flat_no %></td>
      </tr>
      <tr class="table-data text-align-center">
        <td>Recipt Number</td>
        <td><%= meter.receipt_no %></td>
      </tr>
      <tr class="table-data text-align-center">
        <td>Name</td>
        <td><%= meter.name %></td>
      </tr>
      <tr class="table-data text-align-center">
        <td>New Unit</td>
        <td><%= meter.new_unit %></td>
      </tr>
      <tr class="table-data text-align-center">
        <td>Old Unit</td>
        <td><%= meter.old_unit %></td>
      </tr>
      <tr class="table-data text-align-center">
        <td>Used Unit</td>
        <td><%= meter.used_unit %></td>
      </tr>
      <tr class="table-data text-align-center">
        <td>Rate Per Unit</td>
        <td><%= meter.rate_perunit %></td>
      </tr>
      <tr class="table-data text-align-center">
        <td>Amount</td>
        <td><%= meter.amount %></td>
      </tr>
      <tr class="table-data text-align-center">
        <td>Fix Charge</td>
        <td><%= meter.fix_charge %></td>
      </tr>
      <tr class="table-data text-align-center table-backcolor-red">
        <td>Total</td>
        <td><%= meter.total %></td>
      </tr>
    </table>
  </div>
<% end %>